{
    "swagger": "2.0",
    "info": {
        "title": "UndergraduateApplications",
        "description": "Undergradudate Applications Resource of the CES API",
        "version": "v1",
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "api.byu.edu",
    "schemes": [
        "https"
    ],
    "basePath": "/cesapi/undergraduate_applications",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/": {
            "get": {
                "summary": "Undergraduate Applications",
                "description": "Returns a collection of CES Shared Admissions Undergraduate Applications",
                "operationId": "lookupUndergraduateApplications",
                "parameters": [
                    {
                        "name": "applicant_id",
                        "in": "query",
                        "description": "Applicant ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "field_sets",
                        "in": "query",
                        "description": "List which sub resources are to be returned",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "context",
                        "in": "query",
                        "description": "Indicates a set of sub resources",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "Skip into a large collection to this item",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Return this many items of a large collection",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Undergraduate Applications",
                    "CES API",
                    "CES Admissions"
                ],
                "responses": {
                    "200": {
                        "description": "A collection of Undergraduate Applications",
                        "schema": {
                            "$ref": "#/definitions/applications"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "#/definitions/applications/example"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid Request - unable to interpret request",
                        "schema": {
                            "$ref": "#/definitions/validation_response"
                        }
                    },
                    "401": {
                        "description": "Authentication required to access data",
                        "schema": {
                            "$ref": "#/definitions/validation_response"
                        }
                    },
                    "403": {
                        "description": "Access denied to protected data",
                        "schema": {
                            "$ref": "#/definitions/validation_response"
                        }
                    },
                    "404": {
                        "description": "There is no matching Undergraduate Application",
                        "schema": {
                            "$ref": "#/definitions/validation_response"
                        }
                    },
                    "409": {
                        "description": "Query parameters conflict or are malformed",
                        "schema": {
                            "$ref": "#/definitions/validation_response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/validation_response"
                        }
                    }
                }
            },
            "post": {
                "summary": "Undergraduate Applications",
                "description": "Creates an Undergraduate Application",
                "operationId": "createUndergraduateApplications",
                "parameters": [
                    {
                        "name": "application",
                        "in": "body",
                        "description": "New Undergraduate Application Values",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/new_application"
                        }
                    }
                ],
                "tags": [
                    "Undergraduate Applications",
                    "CES API",
                    "CES Admissions"
                ],
                "responses": {
                    "201": {
                        "description": "Undergraduate Application successfully created",
                        "schema": {
                            "$ref": "#/definitions/application"
                        }
                    },
                    "400": {
                        "description": "Invalid Request - unable to interpret request",
                        "schema": {
                            "$ref": "#/definitions/validation_response"
                        }
                    },
                    "401": {
                        "description": "Authentication required to access data",
                        "schema": {
                            "$ref": "#/definitions/validation_response"
                        }
                    },
                    "403": {
                        "description": "Access denied to protected data",
                        "schema": {
                            "$ref": "#/definitions/validation_response"
                        }
                    },
                    "409": {
                        "description": "Query parameters conflict or are malformed",
                        "schema": {
                            "$ref": "#/definitions/validation_response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/validation_response"
                        }
                    }
                }
            },
            "options": {
                "summary": "Options",
                "description": "Gives a list of the operations this end point can use",
                "operationId": "undergraduateApplicationsMethods",
                "tags": [
                    "Undergraduate Applications",
                    "CES API",
                    "CES Admissions"
                ],
                "responses": {
                    "200": {
                        "description": "Supported HTTP Methods",
                        "schema": {
                            "$ref": "#/definitions/methods"
                        },
                        "examples": {
                            "application/json": [
                                "GET",
                                "POST",
                                "OPTIONS"
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid Request - unable to interpret request",
                        "schema": {
                            "$ref": "#/definitions/validation_response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/validation_response"
                        }
                    }
                }
            }
        },
        "/{application_uuid}": {
            "get": {
                "summary": "Undergraduate Applications",
                "description": "Returns a CES Shared Admissions Undergraduate Application",
                "operationId": "lookupUndergraduateApplication",
                "parameters": [
                    {
                        "name": "application_uuid",
                        "in": "path",
                        "description": "External Undergraduate Application identifier",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "field_sets",
                        "in": "query",
                        "description": "List which sub resources are to be returned",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "context",
                        "in": "query",
                        "description": "Indicates a set of sub resources",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Undergraduate Applications",
                    "CES API",
                    "CES Admissions"
                ],
                "responses": {
                    "200": {
                        "description": "An Undergraduate Application",
                        "schema": {
                            "$ref": "#/definitions/application"
                        },
                        "examples": {
                            "application/json": {
                                "basic": {
                                    "links": {
                                        "undergraduate_applications__info": {
                                            "rel": "self",
                                            "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407",
                                            "method": "GET",
                                            "title": "undergraduate_applications.getUndergraduateApplication"
                                        },
                                        "undergraduate_applications__modify": {
                                            "rel": "undergraduate_applications__modify",
                                            "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407",
                                            "method": "PUT",
                                            "title": "undergraduate_applications__modifyUndergraduateApplication"
                                        },
                                        "undergraduate_applications__remove": {
                                            "rel": "undergraduate_applications__remove",
                                            "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407",
                                            "method": "DELETE",
                                            "title": "undergraduate_applications__removeUndergraduateApplication"
                                        },
                                        "applicants__info": {
                                            "rel": "applicants__info",
                                            "href": "https://api.byu.edu/cesapi/undergraduate_applications/764634873",
                                            "method": "GET",
                                            "title": "applicants.getApplicant"
                                        },
                                        "persons__info": {
                                            "rel": "persons__info",
                                            "href": "https://api.byu.edu/byuapi/persons/764634873",
                                            "method": "GET",
                                            "title": "persons.getPerson"
                                        }
                                    },
                                    "metadata": {
                                        "cache": {
                                            "date_time": "2014-05-11T13:45:53.20Z"
                                        },
                                        "validation_response": {
                                            "return_code": 200,
                                            "response": "Successful"
                                        }
                                    },
                                    "application_uuid": {
                                        "value": "cea9a774-dfe8-4dfd-8a2a-bb2edc984407",
                                        "api_type": "system",
                                        "key": true,
                                        "display_label": "Application uuid"
                                    },
                                    "applicant_id": {
                                        "value": "764634873",
                                        "api_type": "system",
                                        "display_label": "Applicant ID"
                                    },
                                    "person_id": {
                                        "value": "585241162",
                                        "api_type": "related",
                                        "related_resource": "persons",
                                        "display_label": "AIM Person ID"
                                    },
                                    "deceased": {
                                        "value": " ",
                                        "api_type": "related",
                                        "related_resource": "persons",
                                        "display_label": "Deceased Flag"
                                    },
                                    "restricted": {
                                        "value": "",
                                        "api_type": "related",
                                        "related_resource": "persons",
                                        "description": "This Identity is not Restricted",
                                        "domain": "https://api.byu.edu/cesapi/meta/restricted",
                                        "display_label": "Restricted Flag"
                                    },
                                    "ces_flags": {
                                        "value": "N",
                                        "api_type": "derived",
                                        "description": "There are no CES Flags set on this person",
                                        "display_label": "CES Flags"
                                    },
                                    "priority_deadline_date": {
                                        "value": "2015-05-02T07:00:00.00Z",
                                        "api_type": "derived",
                                        "display_label": "Priority Application Deadline for CES Program/Admit Period/Applicant Type combination"
                                    },
                                    "deadline_date": {
                                        "value": "2015-05-02T07:00:00.00Z",
                                        "api_type": "derived",
                                        "display_label": "Application Deadline for CES Program/Admit Period/Applicant Type combination"
                                    },
                                    "application_status": {
                                        "value": "Submitted",
                                        "api_type": "derived",
                                        "description": "Submitted by Applicant",
                                        "domain": "https://api.byu.edu/cesapi/meta/application_status",
                                        "display_label": "Application Status"
                                    },
                                    "date_time_application_status": {
                                        "value": "2015-05-11T13:45:53.20Z",
                                        "api_type": "system",
                                        "display_label": "Date/Time that current Application Status was determined"
                                    },
                                    "application_status_for_applicant": {
                                        "value": "Submitted",
                                        "api_type": "derived",
                                        "description": "Submitted by Applicant",
                                        "domain": "https://api.byu.edu/cesapi/meta/application_status",
                                        "display_label": "Application Status"
                                    },
                                    "submitted_by_id": {
                                        "value": "764634873",
                                        "api_type": "system",
                                        "description": "Bugs Bunny Ithaca",
                                        "display_label": "Application submitted by?"
                                    },
                                    "date_time_submitted": {
                                        "value": "2014-05-11T13:45:53.20Z",
                                        "api_type": "system",
                                        "display_label": "Application submitted when?"
                                    },
                                    "processing_status": {
                                        "value": "Not Processed",
                                        "api_type": "derived",
                                        "description": "The Application has items that need to be processed",
                                        "domain": "https://api.byu.edu/cesapi/meta/completion_status",
                                        "display_label": "Processing Status"
                                    },
                                    "date_time_processing_status": {
                                        "value": "2015-05-11T13:45:53.20Z",
                                        "api_type": "read-only",
                                        "display_label": "Date/Time that current Processing Status was determined"
                                    },
                                    "surname": {
                                        "value": "Ithaca",
                                        "api_type": "related",
                                        "related_resource": "persons",
                                        "display_label": "Surname"
                                    },
                                    "first_name": {
                                        "value": "Bugs",
                                        "api_type": "related",
                                        "related_resource": "persons",
                                        "display_label": "First Names"
                                    },
                                    "middle_name": {
                                        "value": "Bunny",
                                        "api_type": "related",
                                        "related_resource": "persons",
                                        "display_label": "Middle Names"
                                    },
                                    "rest_of_name": {
                                        "value": "Bugs Bunny",
                                        "api_type": "derived",
                                        "display_label": "First/Middle Names"
                                    },
                                    "suffix": {
                                        "value": "Esq.",
                                        "api_type": "related",
                                        "related_resource": "persons",
                                        "display_label": "Name Suffix"
                                    },
                                    "preferred_surname": {
                                        "value": "Ithaca",
                                        "api_type": "related",
                                        "related_resource": "persons",
                                        "display_label": "Preferred Surname"
                                    },
                                    "preferred_first_name": {
                                        "value": "Bugs",
                                        "api_type": "related",
                                        "related_resource": "persons",
                                        "display_label": "Preferred First Name"
                                    },
                                    "preferred_name": {
                                        "value": "Bugs Ithaca",
                                        "api_type": "derived",
                                        "display_label": "Preferred Name"
                                    },
                                    "name_fnf": {
                                        "value": "Bugs Bunny Ithaca",
                                        "api_type": "derived",
                                        "display_label": "Name (First Name First)"
                                    },
                                    "name_lnf": {
                                        "value": "Ithaca, Bugs Bunny",
                                        "api_type": "derived",
                                        "display_label": "Name (Last Name First)"
                                    },
                                    "email_address": {
                                        "value": "bugsbunny22@gmail.com",
                                        "api_type": "related",
                                        "related_resource": "persons",
                                        "display_label": "Email"
                                    },
                                    "phone_number": {
                                        "value": "8014222507",
                                        "api_type": "related",
                                        "related_resource": "persons",
                                        "display_label": "Phone Number"
                                    },
                                    "texts_okay": {
                                        "value": "N",
                                        "api_type": "related",
                                        "related_resource": "persons",
                                        "display_label": "Phone accepts text messages?"
                                    },
                                    "language": {
                                        "value": "ESP",
                                        "api_type": "related",
                                        "related_resource": "persons",
                                        "description": "Spanish",
                                        "domain": "https://api.byu.edu/byuapi/meta/languages",
                                        "display_label": "Primary Language"
                                    },
                                    "created_by_id": {
                                        "value": "764634873",
                                        "api_type": "system",
                                        "description": "Bugs Bunny Ithaca",
                                        "display_label": "Application created by?"
                                    },
                                    "date_time_created": {
                                        "value": "2014-05-11T13:45:53.20Z",
                                        "api_type": "system",
                                        "display_label": "Application created when?"
                                    },
                                    "updated_by_id": {
                                        "value": "764634873",
                                        "api_type": "system",
                                        "description": "Bugs Bunny Ithaca",
                                        "display_label": "Application last updated by?"
                                    },
                                    "date_time_updated": {
                                        "value": "2014-05-11T13:45:53.20Z",
                                        "api_type": "system",
                                        "display_label": "Application last updated when?"
                                    }
                                },
                                "ap_ib_classes": {
                                    "values":[]
                                },
                                "school_selections": {
                                    "links": {
                                        "school_selections__info": {
                                            "rel": "self",
                                            "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/school_selections",
                                            "method": "GET",
                                            "title": "school_selections.getSchoolSelections"
                                        },
                                        "school_selections__select": {
                                            "rel": "school_selections__select",
                                            "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/school_selections/:ces_school",
                                            "method": "PUT",
                                            "title": "school_selections__selectSchoolSelection"
                                        }
                                    },
                                    "metadata": {
                                        "collection_size": 4,
                                        "page_start": 1,
                                        "page_end": 4,
                                        "page_size": 4,
                                        "default_page_size": 10,
                                        "max_page_size": 10,
                                        "cache": {
                                            "date_time": "2014-05-11T13:45:53.20Z"
                                        },
                                        "validation_response": {
                                            "return_code": 200,
                                            "response": "Successful"
                                        }
                                    },
                                    "values": [
                                        {
                                            "links": {
                                                "school_selections__info": {
                                                    "rel": "self",
                                                    "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/school_selections/BYUI",
                                                    "method": "GET",
                                                    "title": "school_selections.getSchoolSelection"
                                                },
                                                "school_selections__modify": {
                                                    "rel": "school_selections__modify",
                                                    "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/school_selections/BYUI",
                                                    "method": "PUT",
                                                    "title": "school_selections__modifySchoolSelection"
                                                },
                                                "school_selections.unselect": {
                                                    "rel": "school_selections.unselect",
                                                    "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/school_selections/BYUI",
                                                    "method": "DELETE",
                                                    "title": "school_selections.unselectSchoolSelection"
                                                }
                                            },
                                            "metadata": {
                                                "cache": {
                                                    "date_time": "2014-05-11T13:45:53.20Z"
                                                },
                                                "validation_response": {
                                                    "return_code": 200,
                                                    "response": "Successful"
                                                }
                                            },
                                            "application_uuid": {
                                                "value": "cea9a774-dfe8-4dfd-8a2a-bb2edc984407",
                                                "api_type": "system",
                                                "key": true,
                                                "display_label": "Application uuid"
                                            },
                                            "applicant_id": {
                                                "value": "764634873",
                                                "api_type": "system",
                                                "display_label": "Applicant ID"
                                            },
                                            "ces_school": {
                                                "value": "BYUI",
                                                "api_type": "read-only",
                                                "key": true,
                                                "description": "BYU Idaho",
                                                "domain": "https://api.byu.edu/cesapi/meta/ces_schools",
                                                "display_label": "CES School"
                                            },
                                            "admit_period": {
                                                "value": "20175",
                                                "api_type": "modifiable",
                                                "description": "Fall 2017",
                                                "long_description": "Fall Semester 2017",
                                                "domain": "https://api.byu.edu/cesapi/meta/admit_periods?ces_school=BYUI",
                                                "display_label": "Admit Period"
                                            },
                                            "applicant_type": {
                                                "value": "Former",
                                                "api_type": "modifiable",
                                                "description": "Former Student",
                                                "domain": "https://api.byu.edu/cesapi/meta/applicant_types?ces_school=BYUI",
                                                "display_label": "Applicant Type"
                                            },
                                            "admit_major": {
                                                "value": "12345",
                                                "api_type": "modifiable",
                                                "description": "Business",
                                                "domain": "https://api.byu.edu/cesapi/meta/admit_majors?ces_school=BYUI",
                                                "display_label": "Major"
                                            },
                                            "start_attendance_date": {
                                                "value": "2016-01-04",
                                                "api_type": "read-only",
                                                "display_label": "First Day of Class for Admit Period"
                                            },
                                            "end_attendance_date": {
                                                "value": "2016-04-22",
                                                "api_type": "read-only",
                                                "display_label": "Last Day of Final Exams for Admit Period"
                                            },
                                            "priority_deadline_date": {
                                                "value": "2015-05-02T07:00:00.00Z",
                                                "api_type": "read-only",
                                                "display_label": "Priority Application Deadline for CES School/Admit Period/Applicant Type combination"
                                            },
                                            "deadline_date": {
                                                "value": "2015-05-02T07:00:00.00Z",
                                                "api_type": "read-only",
                                                "display_label": "Application Deadline for CES School/Admit Period/Applicant Type combination"
                                            },
                                            "application_status": {
                                                "value": "Submitted",
                                                "api_type": "read-only",
                                                "description": "Submitted by Applicant",
                                                "domain": "https://api.byu.edu/cesapi/meta/application_status",
                                                "display_label": "Application Status"
                                            },
                                            "date_time_application_status": {
                                                "value": "2015-05-11T13:45:53.20Z",
                                                "api_type": "system",
                                                "display_label": "Date/Time that current Application Status was determined"
                                            },
                                            "application_status_for_applicant": {
                                                "value": "Submitted",
                                                "api_type": "derived",
                                                "description": "Submitted by Applicant",
                                                "domain": "https://api.byu.edu/cesapi/meta/application_status",
                                                "display_label": "Application Status"
                                            },
                                            "submitted_by_id": {
                                                "value": "764634873",
                                                "api_type": "system",
                                                "description": "Bugs Bunny Ithaca",
                                                "display_label": "Application submitted by?"
                                            },
                                            "date_time_submitted": {
                                                "value": "2014-05-11T13:45:53.20Z",
                                                "api_type": "system",
                                                "display_label": "Application submitted when?"
                                            },
                                            "late_submit_override": {
                                                "value": "",
                                                "api_type": "modifiable",
                                                "description": "Late Submission Status has not been overridden",
                                                "display_label": "Override late submit status"
                                            },
                                            "fee_required": {
                                                "value": "20.00",
                                                "api_type": "read-only",
                                                "display_label": "Fee Amount"
                                            },
                                            "fee_override": {
                                                "value": "",
                                                "api_type": "modifiable",
                                                "display_label": "Override Fee Required Amount"
                                            },
                                            "fee_paid": {
                                                "value": "35.00",
                                                "api_type": "read-only",
                                                "display_label": "Fee Paid"
                                            },
                                            "date_time_paid": {
                                                "value": "2015-09-08T13:45:53.20Z",
                                                "api_type": "system",
                                                "display_label": "Date/Time Paid"
                                            },
                                            "additional_materials_status": {
                                                "value": "Pending",
                                                "api_type": "read-only",
                                                "description": "Waiting for Additional Materials from the Applicant",
                                                "domain": "https://api.byu.edu/cesapi/meta/additional_materials_status",
                                                "display_label": "Additional Materials Status"
                                            },
                                            "date_time_additional_materials_status": {
                                                "value": "2015-05-11T13:45:53.20Z",
                                                "api_type": "read-only",
                                                "display_label": "Date/Time that current Additional Materials Status was determined"
                                            },
                                            "additional_materials_status_for_applicant": {
                                                "value": "Pending",
                                                "api_type": "derived",
                                                "description": "Waiting for Additional Materials from the Applicant",
                                                "domain": "https://api.byu.edu/cesapi/meta/additional_materials_status",
                                                "display_label": "Additional Materials Status"
                                            },
                                            "admission_decision": {
                                                "value": "Admitted",
                                                "api_type": "modifiable",
                                                "display_label": "Admission Decision"
                                            },
                                            "date_time_decision": {
                                                "value": "2015-05-11T13:45:53.20Z",
                                                "api_type": "system",
                                                "display_label": "Date/Time of Admission Decision"
                                            },
                                            "acceptance_status": {
                                                "value": "Accepted",
                                                "api_type": "modifiable",
                                                "display_label": "Admission Decision"
                                            },
                                            "date_time_accepted": {
                                                "value": "2015-05-11T13:45:53.20Z",
                                                "api_type": "system",
                                                "display_label": "Date/Time of Admission Decision"
                                            }
                                        }
                                    ]
                                },
                                "application_deliverables": {
                                    "links": {
                                        "application_deliverables__info": {
                                            "rel": "self",
                                            "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/application_deliverables",
                                            "method": "GET",
                                            "title": "application_deliverables.getApplicationDeliverables"
                                        },
                                        "application_deliverables.add": {
                                            "rel": "application_deliverables.add",
                                            "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/application_deliverables/:deliverable,:deliverable_qualifier",
                                            "method": "PUT",
                                            "title": "application_deliverables.addApplicationDeliverable"
                                        }
                                    },
                                    "metadata": {
                                        "collection_size": 4,
                                        "page_start": 1,
                                        "page_end": 4,
                                        "page_size": 4,
                                        "default_page_size": 10,
                                        "max_page_size": 10,
                                        "cache": {
                                            "date_time": "2014-05-11T13:45:53.20Z"
                                        },
                                        "validation_response": {
                                            "return_code": 200,
                                            "response": "Successful"
                                        }
                                    },
                                    "values": [
                                        {
                                            "links": {
                                                "application_deliverables__info": {
                                                    "rel": "self",
                                                    "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/application_deliverables/HS-Rec,3j4xvgh5",
                                                    "method": "GET",
                                                    "title": "application_deliverables.getApplicationDeliverable"
                                                },
                                                "application_deliverables__modify": {
                                                    "rel": "application_deliverables__modify",
                                                    "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/application_deliverables/HS-Rec,3j4xvgh5",
                                                    "method": "PUT",
                                                    "title": "application_deliverables__modifyApplicationDeliverable"
                                                },
                                                "application_deliverables__remove": {
                                                    "rel": "application_deliverables__remove",
                                                    "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/application_deliverables/HS-Rec,3j4xvgh5",
                                                    "method": "DELETE",
                                                    "title": "application_deliverables__removeApplicationDeliverable"
                                                }
                                            },
                                            "metadata": {
                                                "cache": {
                                                    "date_time": "2014-05-11T13:45:53.20Z"
                                                },
                                                "validation_response": {
                                                    "return_code": 200,
                                                    "response": "Successful"
                                                }
                                            },
                                            "application_uuid": {
                                                "value": "cea9a774-dfe8-4dfd-8a2a-bb2edc984407",
                                                "api_type": "system",
                                                "key": true,
                                                "display_label": "Application uuid"
                                            },
                                            "deliverable": {
                                                "value": "HS-Rec",
                                                "api_type": "read-only",
                                                "key": true,
                                                "description": "High School Teacher Recommendation",
                                                "long_description": "Recommendation by High School Teacher",
                                                "domain": "https://api.byu.edu/cesapi/meta/application_deliverables",
                                                "display_label": "Application Deliverable"
                                            },
                                            "deliverable_qualifer": {
                                                "value": "3j4xvgh5",
                                                "api_type": "read-only",
                                                "key": true,
                                                "display_label": "Application Deliverable Qualifier"
                                            },
                                            "deliverable_description": {
                                                "value": "High School Teacher Recommendation by Mr. Haderlie",
                                                "api_type": "modifiable",
                                                "display_label": "Deliverable Description"
                                            },
                                            "waived": {
                                                "value": "N",
                                                "api_type": "modifiable",
                                                "display_label": "Deliverable Waived?"
                                            },
                                            "optional": {
                                                "value": "N",
                                                "api_type": "read-only",
                                                "display_label": "Is this Deliverable Optional?"
                                            },
                                            "completion_status": {
                                                "value": "Incomplete",
                                                "api_type": "read-only",
                                                "display_label": "Completion Status"
                                            },
                                            "date_time_completion_status": {
                                                "value": "2015-05-11T13:45:53.20Z",
                                                "api_type": "read-only",
                                                "display_label": "Date/Time that the Deliverables current Completion Status was determined"
                                            },
                                            "completion_status_for_applicant": {
                                                "value": "Incomplete",
                                                "api_type": "read-only",
                                                "display_label": "Completion Status"
                                            },
                                            "processing_status": {
                                                "value": "Y",
                                                "api_type": "read-only",
                                                "display_label": "Has the Deliverable been Processed?"
                                            },
                                            "date_time_processing_status": {
                                                "value": "2015-05-11T13:45:53.20Z",
                                                "api_type": "read-only",
                                                "display_label": "Date/Time that the Deliverables current Processing Status was determined"
                                            }
                                        }
                                    ]
                                },
                                "application_actions": {
                                    "links": {
                                        "application_actions__info": {
                                            "rel": "self",
                                            "href": "https://api.byu.edu/cesapi/applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/application_actions",
                                            "method": "GET",
                                            "title": "application_actions.getApplicationActions"
                                        },
                                        "application_actions.submit": {
                                            "rel": "application_actions.submit",
                                            "href": "https://api.byu.edu/cesapi/applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/application_actions",
                                            "method": "POST",
                                            "title": "application_actions.submitApplication"
                                        },
                                        "application_actions.withdraw": {
                                            "rel": "application_actions.withdraw",
                                            "href": "https://api.byu.edu/cesapi/applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/application_actions",
                                            "method": "POST",
                                            "title": "application_actions.withdrawApplication"
                                        }
                                    },
                                    "metadata": {
                                        "collection_size": 4,
                                        "page_start": 1,
                                        "page_end": 4,
                                        "page_size": 4,
                                        "default_page_size": 10,
                                        "max_page_size": 10,
                                        "cache": {
                                            "date_time": "2014-05-11T13:45:53.20Z"
                                        },
                                        "validation_response": {
                                            "return_code": 200,
                                            "response": "Successful"
                                        }
                                    },
                                    "values": [
                                        {
                                            "links": {
                                            },
                                            "metadata": {
                                            },
                                            "application_uuid": {
                                                "value": "cea9a774-dfe8-4dfd-8a2a-bb2edc984407",
                                                "api_type": "system",
                                                "key": true,
                                                "display_label": "Application uuid"
                                            },
                                            "action": {
                                                "value": "Create",
                                                "api_type": "read-only",
                                                "description": "Application Create",
                                                "display_label": "Application Action"
                                            },
                                            "action_results": {
                                                "value": "Application Create Failed",
                                                "api_type": "read-only",
                                                "description": "Application Create Failed",
                                                "display_label": "Application Action Results"
                                            },
                                            "action_notes": {
                                                "value": "blah, blah, blah",
                                                "api_type": "read-only",
                                                "display_label": "Notes on Application Action"
                                            },
                                            "action_by_id": {
                                                "value": "764634873",
                                                "api_type": "system",
                                                "description": "Bugs Bunny Ithaca",
                                                "display_label": "Flag applied by?"
                                            },
                                            "date_time_action": {
                                                "value": "2014-05-11T13:45:53.20Z",
                                                "api_type": "system",
                                                "display_label": "Flagged when?"
                                            }
                                        }
                                    ]
                                },
                                "essays": {
                                    "links": {
                                        "essays__info": {
                                            "rel": "self",
                                            "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/essays",
                                            "method": "GET",
                                            "title": "essays.getEssays"
                                        }
                                    },
                                    "metadata": {
                                        "collection_size": 4,
                                        "page_start": 1,
                                        "page_end": 4,
                                        "page_size": 4,
                                        "default_page_size": 50,
                                        "max_page_size": 50,
                                        "cache": {
                                            "date_time": "2014-05-11T13:45:53.20Z"
                                        },
                                        "validation_response": {
                                            "return_code": 200,
                                            "response": "Successful"
                                        }
                                    },
                                    "values": [
                                        {
                                            "links": {
                                                "essays__info": {
                                                    "rel": "self",
                                                    "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/essays/3486A3,1",
                                                    "method": "GET",
                                                    "title": "essays.getEssay"
                                                },
                                                "essays__modify": {
                                                    "rel": "essays__modify",
                                                    "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/essays/3486A3,1",
                                                    "method": "PUT",
                                                    "title": "essays__modifyEssay"
                                                },
                                                "essays__remove": {
                                                    "rel": "essays__remove",
                                                    "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/essays/3486A3,1",
                                                    "method": "DELETE",
                                                    "title": "essays__removeEssay"
                                                }
                                            },
                                            "metadata": {
                                                "cache": {
                                                    "date_time": "2014-05-11T13:45:53.20Z"
                                                },
                                                "validation_response": {
                                                    "return_code": 200,
                                                    "response": "Successful"
                                                }
                                            },
                                            "application_uuid": {
                                                "value": "cea9a774-dfe8-4dfd-8a2a-bb2edc984407",
                                                "api_type": "system",
                                                "key": true,
                                                "display_label": "Application uuid"
                                            },
                                            "applicant_id": {
                                                "value": "764634873",
                                                "api_type": "system",
                                                "display_label": "Applicant ID"
                                            },
                                            "essay_id": {
                                                "value": "3486A3",
                                                "api_type": "system",
                                                "key": true,
                                                "display_label": "Essay Question ID"
                                            },
                                            "essay_version": {
                                                "value": "1",
                                                "api_type": "system",
                                                "key": true,
                                                "display_label": "Essay Question Version"
                                            },
                                            "essay_type": {
                                                "value": "follow-up",
                                                "api_type": "system",
                                                "display_label": "Essay Type"
                                            },
                                            "essay_question": {
                                                "value": "Blah, blah, blah",
                                                "api_type": "read-only",
                                                "display_label": "Essay Question"
                                            },
                                            "essay_answer": {
                                                "value": "Blah, blah, blah",
                                                "api_type": "modifiable",
                                                "display_label": "Essay Answer"
                                            },
                                            "document_pointers": [
                                                {
                                                    "value": "https://somedomain/someresource/somewhere",
                                                    "api_type": "modifiable",
                                                    "display_label": "Attachments"
                                                }
                                            ],
                                            "created_by_id": {
                                                "value": "764634873",
                                                "api_type": "system",
                                                "description": "Bugs Bunny Ithaca",
                                                "display_label": "Follow-up Essay Question asked by?"
                                            },
                                            "date_time_created": {
                                                "value": "2014-05-11T13:45:53.20Z",
                                                "api_type": "system",
                                                "display_label": "Who asked the follow-up Essay Question?"
                                            },
                                            "approved_by_id": {
                                                "value": "764634873",
                                                "api_type": "system",
                                                "description": "Bugs Bunny Ithaca",
                                                "display_label": "Follow-up Essay Question approved by?"
                                            },
                                            "date_time_approved": {
                                                "value": "2014-05-11T13:45:53.20Z",
                                                "api_type": "system",
                                                "display_label": "Follow-up Essay Question approved when?"
                                            },
                                            "date_time_submitted": {
                                                "value": "2014-05-11T13:45:53.20Z",
                                                "api_type": "system",
                                                "display_label": "Essay Question Answered by the Applicant when?"
                                            },
                                            "updated_by_id": {
                                                "value": "764634873",
                                                "api_type": "system",
                                                "description": "Bugs Bunny Ithaca",
                                                "display_label": "Essay Question last updated by?"
                                            },
                                            "date_time_updated": {
                                                "value": "2014-05-11T13:45:53.20Z",
                                                "api_type": "system",
                                                "display_label": "Essay Question last updated when?"
                                            }
                                        }
                                    ]
                                },
                                "extra_curricular_activities": {
                                    "links": {
                                        "extra_curricular_activities__info": {
                                            "rel": "self",
                                            "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/extra_curricular_activities",
                                            "method": "GET",
                                            "title": "extra_curricular_activities.getExtraCurricularActivities"
                                        }
                                    },
                                    "metadata": {
                                        "collection_size": 4,
                                        "page_start": 1,
                                        "page_end": 4,
                                        "page_size": 4,
                                        "default_page_size": 50,
                                        "max_page_size": 50,
                                        "cache": {
                                            "date_time": "2014-05-11T13:45:53.20Z"
                                        },
                                        "validation_response": {
                                            "return_code": 200,
                                            "response": "Successful"
                                        }
                                    },
                                    "values": [
                                        {
                                            "links": {
                                                "extra_curricular_activities__info": {
                                                    "rel": "self",
                                                    "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/extra_curricular_activities/service,church,award",
                                                    "method": "GET",
                                                    "title": "extra_curricular_activities.getExtraCurricularActivity"
                                                },
                                                "extra_curricular_activities__modify": {
                                                    "rel": "extra_curricular_activities__modify",
                                                    "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/extra_curricular_activities/service,church,award",
                                                    "method": "PUT",
                                                    "title": "extra_curricular_activities__modifyExtraCurricularActivity"
                                                },
                                                "extra_curricular_activities__remove": {
                                                    "rel": "extra_curricular_activities__remove",
                                                    "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407extra_curricular_activities/service,church,award",
                                                    "method": "DELETE",
                                                    "title": "extra_curricular_activities__removeExtraCurricularActivity"
                                                }
                                            },
                                            "metadata": {
                                                "cache": {
                                                    "date_time": "2014-05-11T13:45:53.20Z"
                                                },
                                                "validation_response": {
                                                    "return_code": 200,
                                                    "response": "Successful"
                                                }
                                            },
                                            "application_uuid": {
                                                "value": "cea9a774-dfe8-4dfd-8a2a-bb2edc984407",
                                                "api_type": "system",
                                                "key": true,
                                                "display_label": "Application uuid"
                                            },
                                            "applicant_id": {
                                                "value": "764634873",
                                                "api_type": "system",
                                                "display_label": "Applicant ID"
                                            },
                                            "extra_curricular_category": {
                                                "value": "service",
                                                "api_type": "modifiable",
                                                "key": true,
                                                "description": "Service",
                                                "domain": "https://api.byu.edu/byuapi/meta/extra_curricular_categories",
                                                "display_label": "Extra Curricular Category"
                                            },
                                            "extra_curricular_sub_category": {
                                                "value": "church",
                                                "api_type": "modifiable",
                                                "key": true,
                                                "description": "Church",
                                                "domain": "https://api.byu.edu/byuapi/meta/extra_curricular_sub_categories",
                                                "display_label": "Extra Curricular Sub-Category"
                                            },
                                            "extra_curricular_activity": {
                                                "value": "award",
                                                "api_type": "modifiable",
                                                "key": true,
                                                "description": "Earned/will earn Duty to God/YW Recognition/YW Honor Bee Award",
                                                "domain": "https://api.byu.edu/byuapi/meta/extra_curricular_activities",
                                                "display_label": "Extra Curricular Activity"
                                            },
                                            "extra_curricular_explanation": {
                                                "value": "Blah, blah, blah",
                                                "api_type": "read-only",
                                                "display_label": "Explanation that accompanies Extra Curricular Activities"
                                            },
                                            "extra_curricular_notes": {
                                                "value": "Blah, blah, blah",
                                                "api_type": "modifiable",
                                                "display_label": "Extra Curricular Notes"
                                            },
                                            "updated_by_id": {
                                                "value": "764634873",
                                                "api_type": "system",
                                                "description": "Bugs Bunny Ithaca",
                                                "display_label": "Extra Curricular Activities last updated by?"
                                            },
                                            "date_time_updated": {
                                                "value": "2014-05-11T13:45:53.20Z",
                                                "api_type": "system",
                                                "display_label": "Extra Curricular Activities last updated when?"
                                            }
                                        }
                                    ]
                                },
                                "recommendations": {
                                    "links": {
                                        "recommendations__info": {
                                            "rel": "self",
                                            "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/recommendations",
                                            "method": "GET",
                                            "title": "recommendations.getRecommendations"
                                        },
                                        "recommendations.request": {
                                            "rel": "recommendations.request",
                                            "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/recommendations",
                                            "method": "POST",
                                            "title": "recommendations.requestRecommendation"
                                        }
                                    },
                                    "metadata": {
                                        "collection_size": 1,
                                        "page_start": 1,
                                        "page_end": 1,
                                        "page_size": 1,
                                        "default_page_size": 10,
                                        "max_page_size": 10,
                                        "cache": {
                                            "date_time": "2014-05-11T13:45:53.20Z"
                                        },
                                        "validation_response": {
                                            "return_code": 200,
                                            "response": "Successful"
                                        }
                                    },
                                    "values": [
                                        {
                                            "links": {
                                                "recommendations__info": {
                                                    "rel": "self",
                                                    "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/recommendations/cea9a774-dfe8-4dfd-8a2a-bb2edc984407",
                                                    "method": "GET",
                                                    "title": "recommendations.getRecommendation"
                                                },
                                                "recommendations__modify": {
                                                    "rel": "recommendations__modify",
                                                    "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/recommendations/cea9a774-dfe8-4dfd-8a2a-bb2edc984407",
                                                    "method": "PUT",
                                                    "title": "recommendations__modifyRecommendation"
                                                },
                                                "recommendations__remove": {
                                                    "rel": "recommendations__remove",
                                                    "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/recommendations/cea9a774-dfe8-4dfd-8a2a-bb2edc984407",
                                                    "method": "DELETE",
                                                    "title": "recommendations__removeRecommendation"
                                                }
                                            },
                                            "metadata": {
                                                "cache": {
                                                    "date_time": "2014-05-11T13:45:53.20Z"
                                                },
                                                "validation_response": {
                                                    "return_code": 200,
                                                    "response": "Successful"
                                                }
                                            },
                                            "application_uuid": {
                                                "value": "cea9a774-dfe8-4dfd-8a2a-bb2edc984407",
                                                "api_type": "system",
                                                "key": true,
                                                "display_label": "Application uuid"
                                            },
                                            "applicant_id": {
                                                "value": "764634873",
                                                "api_type": "system",
                                                "display_label": "Applicant ID"
                                            },
                                            "recommendation_uuid": {
                                                "value": "cea9a774-dfe8-4dfd-8a2a-bb2edc984407",
                                                "api_type": "system",
                                                "key": true,
                                                "display_label": "Recommendation uuid"
                                            },
                                            "recommendation_qualifier": {
                                                "value": "3j4xvgh5",
                                                "api_type": "system",
                                                "display_label": "Recommendation Qualifier"
                                            },
                                            "name": {
                                                "value": "John Doe",
                                                "api_type": "modifiable",
                                                "display_label": "Name"
                                            },
                                            "email": {
                                                "value": "daffyduck22@gmail.com",
                                                "api_type": "modifiable",
                                                "display_label": "Email"
                                            },
                                            "phone_number": {
                                                "value": "8014222507",
                                                "api_type": "modifiable",
                                                "description": "801-422-2507",
                                                "display_label": "Phone Number"
                                            },
                                            "texts_okay": {
                                                "value": "N",
                                                "api_type": "modifiable",
                                                "display_label": "Phone accepts text messages?"
                                            },
                                            "primary_language": {
                                                "value": "ESP",
                                                "api_type": "modifiable",
                                                "description": "Spanish",
                                                "domain": "https://api.byu.edu/byuapi/meta/languages",
                                                "display_label": "Language of Choice"
                                            },
                                            "relationship_to_applicant": {
                                                "value": "High School Teacher",
                                                "api_type": "modifiable",
                                                "domain": "https://api.byu.edu/byuapi/meta/recommender_relationships",
                                                "display_label": "Relationship to Applicant"
                                            },
                                            "recommender_qualifiers": [
                                                {
                                                    "value": "Core Subjects",
                                                    "api_type": "modifiable",
                                                    "domain": "https://api.byu.edu/byuapi/meta/recommender_qualifiers?recommender_relationships=:relationship_to_applicant",
                                                    "display_label": "Relationship Qualifiers"
                                                }
                                            ],
                                            "recommender_tenure": {
                                                "value": "6",
                                                "api_type": "modifiable",
                                                "display_label": "Number of Years"
                                            },
                                            "assessments": [
                                                {
                                                    "assessment_category": {
                                                        "value": "cat-1",
                                                        "api_type": "read-only",
                                                        "description": "Engagement",
                                                        "domain": "https://api.byu.edu/byuapi/meta/assessment_categories",
                                                        "display_label": "Assessment Category"
                                                    },
                                                    "assessment_value": {
                                                        "value": "6",
                                                        "api_type": "modifiable",
                                                        "display_label": "Assessment Value"
                                                    }
                                                }
                                            ],
                                            "recommendation": {
                                                "value": "Blah, blah, blah",
                                                "api_type": "modifiable",
                                                "display_label": "Recommendation Text"
                                            },
                                            "recommendation_notes:": {
                                                "value": "Blah, blah, blah",
                                                "api_type": "modifiable",
                                                "display_label": "Recommendation Notes"
                                            },
                                            "document_pointers": [
                                                {
                                                    "value": "https://somedomain/someresource/somewhere",
                                                    "api_type": "modifiable",
                                                    "display_label": "Attachments"
                                                }
                                            ],
                                            "date_time_requested": {
                                                "value": "2014-05-11T13:45:53.20Z",
                                                "api_type": "system",
                                                "display_label": "Recommendation requested by applicant when?"
                                            },
                                            "notification_count": {
                                                "value": "4",
                                                "api_type": "system",
                                                "display_label": "How many request notification have been sent?"
                                            },
                                            "date_time_notification_sent": {
                                                "value": "2014-05-11T13:45:53.20Z",
                                                "api_type": "system",
                                                "display_label": "Recommendation request notification sent when?"
                                            },
                                            "date_time_submitted": {
                                                "value": "2014-05-11T13:45:53.20Z",
                                                "api_type": "system",
                                                "display_label": "Recommendation submitted when?"
                                            },
                                            "updated_by_id": {
                                                "value": "764634873",
                                                "api_type": "system",
                                                "description": "Bugs Bunny Ithaca",
                                                "display_label": "Recommendation last updated by?"
                                            },
                                            "date_time_updated": {
                                                "value": "2014-05-11T13:45:53.20Z",
                                                "api_type": "system",
                                                "display_label": "Recommendation last updated when?"
                                            }
                                        }
                                    ]
                                },
                                "endorsements": {
                                    "links": {
                                        "endorsements__info": {
                                            "rel": "self",
                                            "href": "https://api.byu.edu/byuapi/applicants/764634873/endorsements",
                                            "method": "GET",
                                            "title": "endorsements.getEndorsements"
                                        },
                                        "endorsements__modify": {
                                            "rel": "endorsements__modify",
                                            "href": "https://api.byu.edu/byuapi/applicants/764634873/endorsements",
                                            "method": "PUT",
                                            "title": "endorsements__modifyEndorsements"
                                        },
                                        "endorsements__remove": {
                                            "rel": "endorsements__remove",
                                            "href": "https://api.byu.edu/byuapi/applicants/764634873/endorsements",
                                            "method": "DELETE",
                                            "title": "endorsements__removeEndorsements"
                                        }
                                    },
                                    "metadata": {
                                        "collection_size": 1,
                                        "page_start": 1,
                                        "page_end": 1,
                                        "page_size": 1,
                                        "default_page_size": 10,
                                        "max_page_size": 10,
                                        "validation_response": {
                                            "return_code": "200",
                                            "response": "Successful"
                                        }
                                    },
                                    "application_uuid": {
                                        "value": "cea9a774-dfe8-4dfd-8a2a-bb2edc984407",
                                        "api_type": "system",
                                        "key": true,
                                        "display_label": "Application uuid"
                                    },
                                    "applicant_id": {
                                        "value": "764634873",
                                        "api_type": "system",
                                        "key": true,
                                        "display_label": "Applicant ID"
                                    },
                                    "certifications": [
                                        {
                                            "leader_role": {
                                                "value": "Bishop",
                                                "api_type": "read-only",
                                                "display_label": "Leader Role"
                                            },
                                            "leader_name": {
                                                "value": "John Doe",
                                                "api_type": "read-only",
                                                "display_label": "Leader Name"
                                            },
                                            "email": {
                                                "value": "daffyduck22@gmail.com",
                                                "api_type": "read-only",
                                                "display_label": "Email"
                                            },
                                            "phone_number": {
                                                "value": "801-422-2507",
                                                "api_type": "read-only",
                                                "display_label": "Phone Number"
                                            },
                                            "texts_okay": {
                                                "value": "N",
                                                "api_type": "read-only",
                                                "display_label": "Phone accepts text messages?"
                                            },
                                            "primary_language": {
                                                "value": "ESP",
                                                "api_type": "read-only",
                                                "description": "Spanish",
                                                "domain": "https://api.byu.edu/byuapi/meta/languages",
                                                "display_label": "Primary Language"
                                            },
                                            "endorsable": {
                                                "value": "N",
                                                "api_type": "read-only",
                                                "display_label": "Endorsement Status"
                                            },
                                            "date_time_endorsed": {
                                                "value": "2014-05-11T13:45:53.20Z",
                                                "api_type": "system",
                                                "display_label": "When did the endorsement take place?"
                                            }
                                        }
                                    ],
                                    "polygamy": {
                                        "value": "N",
                                        "api_type": "modifiable",
                                        "display_label": "Do you advocate the current practice of polygamy?"
                                    },
                                    "polygamy_notes": {
                                        "value": "",
                                        "api_type": "modifiable",
                                        "display_label": "Explanation"
                                    },
                                    "date_time_reported": {
                                        "value": "2014-05-11T13:45:53.20Z",
                                        "api_type": "system",
                                        "display_label": "Endorsement as of date"
                                    }
                                },
                                "flags": {
                                    "links": {
                                        "flags__info": {
                                            "rel": "self",
                                            "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/flags",
                                            "method": "GET",
                                            "title": "flags.getFlags"
                                        },
                                        "flags__add": {
                                            "rel": "flags__add",
                                            "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/flags",
                                            "method": "POST",
                                            "title": "flags.addFlags"
                                        }
                                    },
                                    "metadata": {
                                        "collection_size": 4,
                                        "page_start": 1,
                                        "page_end": 1,
                                        "page_size": 50,
                                        "default_page_size": 50,
                                        "max_page_size": 1000,
                                        "cache": {
                                            "date_time": "2014-05-11T13:45:53.20Z"
                                        },
                                        "validation_response": {
                                            "return_code": 200,
                                            "response": "Successful"
                                        }
                                    },
                                    "values": [
                                        {
                                            "links": {
                                                "flags__info": {
                                                    "rel": "self",
                                                    "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/flags/cea9a774-dfe8-4dfd-8a2a-bb2edc984407",
                                                    "method": "GET",
                                                    "title": "flags.getFlags"
                                                },
                                                "flags__modify": {
                                                    "rel": "flags__modify",
                                                    "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/flags/cea9a774-dfe8-4dfd-8a2a-bb2edc984407",
                                                    "method": "PUT",
                                                    "title": "flags.modifyFlags"
                                                },
                                                "flags__release": {
                                                    "rel": "flags__release",
                                                    "href": "https://api.byu.edu/cesapi/undergraduate_applications/cea9a774-dfe8-4dfd-8a2a-bb2edc984407/flags/cea9a774-dfe8-4dfd-8a2a-bb2edc984407",
                                                    "method": "DELETE",
                                                    "title": "flags.releaseFlags"
                                                }
                                            },
                                            "metadata": {
                                                "cache": {
                                                    "date_time": "2014-05-11T13:45:53.20Z"
[...]
