{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "quay.io/byuoit/developer-portal-drupal-import:{tag}",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "8888"
    }
  ]
}
