<html>
<body>
{{#x-event-types}}
    <h2>{{event_type}}</h2>
    <div>{{domain}}</div>
    <div>{{entity}}</div>
    <div>{{description}}</div>
    <div>{{schema}}</div>
    <div>{{example}}</div>
    <div>{{external-documentation}}</div>
{{/x-event-types}}
</body>
</html>